<app-header (dataEmitter)="currentThemeChecker($event)"></app-header>
<main class="main-wrapper" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
  <div class="container">

    <!-- Intro Section -->
    <div class="row" id="first">
      <div class="col-md-6">
        <div class="card-body" >
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="col-md-6">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem explicabo nisi exercitationem iure maiores delectus possimus facere, aut quibusdam veniam? Reiciendis harum dolore ipsum perferendis ratione in molestias cumque consequatur.
      </div>
    </div>


 


    <div class="card mt-5 mb-5" data-aos="fade-right">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body" >
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-left">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-right">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body" >
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-left">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-right">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body" >
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-left">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-5 mb-5" data-aos="fade-right">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body" >
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div id="last" class="card mt-5 mb-5 pb-5" data-aos="fade-left">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <button class="text-white btn btn-dark"  [ngClass]="{'button-scroll-to-top--show': showScroll}"  class="button-scroll-to-top" (click)="scrollToTop()">go to top</button>
  </div>
</main>

<!-- <app-header (dataEmitter)="currentThemeChecker($event)"></app-header>
<main class="main-wrapper" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
  <div class="container">
 
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
    <button class="text-white" style="position: absolute; right: 20px; bottom: 20px;" (click)="onScroll()">go to top</button>
  </div>
</main> -->