<div class="A">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem error ullam necessitatibus iure provident maxime obcaecati earum voluptas laudantium, consequatur porro officiis iusto neque saepe ea rem, est eveniet?
</div>

<div class="B">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem error ullam necessitatibus iure provident maxime obcaecati earum voluptas laudantium, consequatur porro officiis iusto neque saepe ea rem, est eveniet?
</div>
<div class="C">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem error ullam necessitatibus iure provident maxime obcaecati earum voluptas laudantium, consequatur porro officiis iusto neque saepe ea rem, est eveniet?
</div>
<div class="D">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem error ullam necessitatibus iure provident maxime obcaecati earum voluptas laudantium, consequatur porro officiis iusto neque saepe ea rem, est eveniet?
</div>