@import '../../assets/variables';
header{
    background-color:darkkhaki;
    height: $header-height;
    margin: auto;
    background: #171616;
    display: flex;
    .header-logo{
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
        .header-logo-left-con{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:20px;

            .verticle-line{
                background-color: #222121;
                height: 30px;
                border-radius: 50px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
            }
        }

        .header-back-btn{
            background-color: #222121;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border: none;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        }
    }
    .header-menus{
        display: flex;
        
        li{
            width: 250px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px  solid red;
        }
        li:first-child {
            background-color: #121212;
            
          }
    }
}