<header>
    <div class="header-logo">
        <div class="header-logo-left-con">    
            <img src="./assets/icons/logos.svg" alt=""> 
            <div class="verticle-line" ></div>
            <p>Discovery</p>
        </div>
        <button class="header-back-btn">
            <img src="./assets/icons/back.svg" alt="">
        </button>
        
    </div>
    <ul class="header-menus">
        <li>Funnel Conversion</li>
        <li>Web Traffic</li>
        <li>CQ Pipeline</li>
    </ul>
</header>